:root {
  --window-bg-color: #f3ede2;
  --window-fg-color: #4F3915;

  --view-bg-color: #F9F3E9;
  --view-fg-color: var(--window-fg-color);

  --preview-bg-color: #f2ebe0;

  --card-bg-color: var(--view-bg-color);
  --card-fg-color: var(--view-fg-color);

  --popover-bg-color: var(--view-bg-color);
  --popover-fg-color: var(--view-fg-color);

  --headerbar-bg-color: var(--view-bg-color);
  --headerbar-fg-color: var(--view-fg-color);
  --headerbar-backdrop-color: var(--window-bg-color);

  --dialog-bg-color: var(--view-bg-color);
  --dialog-fg-color: var(--view-fg-color);

  --sidebar-bg-color: #e9e2d7;
  --sidebar-backdrop-color: #eee7dc;
  --sidebar-fg-color: var(--window-fg-color);
}

@define-color code_bg_color #dfd7c9;

@define-color link_fg_color #a99c86;
